<div id="new_listing" title="<%= listing.isNew() ? 'New Listing' : 'Edit Listing' %>">
  <form id="newListing">
    <fieldset>

      <input type="hidden" id="owner_id" name="owner_id" value="<%= userId %>">

      <label>Pet's Name:
      <input type="text" id="pet_name" name="pet_name" value="<%= listing.escape('pet_name') %>">
      </label><br><br>

      <label>Animal:
        <select id="species" name="species">
          <option>Cat</option>
          <option>Dog</option>
          <option>Bird</option>
          <option>Rodent</option>
          <option>Reptile</option>
          <option>Human</option>
        </select>
      </label><br><br>

      <label>Breed:
        <input id="breed" type="text" name="breed" value="<%= listing.escape('breed') %>">
      </label><br><br>

      <label>Age:
        <input id="age" type="text" name="age" value="<%= listing.escape('age') %>">
      </label><br><br>

      <label>Location:
        <input id="location" type="text" name="location" value="<%= listing.escape('location') %>">
      </label><br><br>

      Description:<br>
      <label>
        <textarea id="body" name="body" rows="6" cols="32"><%= listing.escape('body') %></textarea>
      </label><br>

    </fieldset>
  </form>
  <button type="submit" form="newListing"></button>
</div>
