<br>

<h2 class="listings_header">Adoption Listings</h2>
<br>

<% if (userId !== null) { %>
  <div class="nlist">
    <button class="new_listing" name="Create New Listing">Create New Listing</button>
  </div>
<% } %>
<br>

<ul class='all_listings'>
  <% listings.each(function (listing) {  %>
    <li class='listingitem'>
      <ul class='listing' data-id='<%= listing.get('id') %>'>
        <li><strong>Animal: </strong><%= listing.escape('species') %></li>
        <li><strong>Pet Name: </strong><%= listing.escape('pet_name') %></li>
        <% if (listing.escape('breed') !== "")  { %>
            <li><strong>Breed: </strong><%= listing.escape('breed') %></li>
        <% } %>
        <li><strong>Location: </strong><%= listing.escape('location') %></li>
        <section class="click2c">Click for more details about <%= listing.escape('pet_name') %></section>
      </ul>
    </li>
    <br>
  <% }) %>
</ul>
