<div id="dialog" title="<%= listing.escape('pet_name') %>">
  
    <strong>Animal:     </strong><%= listing.escape('species') %><br>
    <section class="location">
      <strong>Location:  </strong><%= listing.escape('location') %><br>
    </section>
    <% if (listing.escape('breed') !== "")  { %>
        <strong>Breed:       </strong><%= listing.escape('breed') %><br>
    <% } %>
    <% if (listing.escape('age') !== "")  { %>
        <strong class="age">Age:       </strong><%= listing.escape('age') %><br>
    <% } %>
    <br>
    <section class="listingBody">
      <%= listing.escape('body') %>
    </section>


  <% if (userId !== null) { %>
    <section class="addComment">
      <article class="commentForm">
        <form class="newCommentForm">
          <fieldset>
            <input type="hidden" id="commenter_id" name="commenter_id" value="<%= userId %>">
            <input type="hidden" id="listing_id" name="listing_id" value="<%= listing.id %>">
            <textarea id="body" name="body" rows="3" cols="42" placeholder="Enter your comment here"></textarea><br>
            <button class="combut" name="Add Comment">Add Comment</button>
          </fieldset>
        </form>
      </article>
  <% } %>
    </section>

    <section class="comments"></section>

    <div id="dialog-confirm"></div>

</div>
