<div id="dialog" title="<%= listing.escape('pet_name') %> the <%= listing.escape('breed') %>">
  <section class="listingTop">
    <table class="table">
      <tr>
        <td>Name:</td>
        <td class="cell"><%= listing.escape('pet_name') %></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td class="cell"><%= listing.escape('gender') %></td>
      </tr>
      <tr>
        <td>Animal:</td>
        <td class="cell"><%= listing.escape('species') %></td>
      </tr>
      <% if (listing.escape('breed') !== "")  { %>
        <tr>
          <% if (listing.escape('species') === "Cat" || listing.escape('species') === "Dog") { %>
            <td>Breed:</td>
            <td class="cell"><%= listing.escape('breed') %></td>
          <% } else {%>
            <td>Type:</td>
            <td class="cell"><%= listing.escape('breed') %></td>
          <% } %>
        </tr>
      <% } %>
      <% if (listing.escape('age') !== "")  { %>
        <tr>
          <td>Age:</td>
          <td class="cell"><%= listing.escape('age') %></td>
        </tr>
      <% } %>
      <tr>
        <td>Location:</td>
        <td class="cell"><%= listing.escape('location') %></td>
      </tr>
    </table>

    <img title="Click to enlarge photo." class="listingImg" src="<%= listing.escape('picture_url') %>"/>
  </section>
    <section class="listingBody">
      <%= listing.escape('body') %>
    </section>
    <br>
    <br>
    <section class="interested">If you're interested in adopting <%= listing.escape('pet_name') %> please e-mail their caretaker at <p title="This email has been obfuscated and cannot be copied." class="mail"><%= listing.escape('email') %></p></section>
    <br>
    <section class="comments"></section>

  <% if (userId !== null) { %>
    <section class="addComment">
      <article class="commentForm">
        <form class="newCommentForm">
          <fieldset>
            <input type="hidden" name="username" value="<%= Petadopter.currentUsername %>">
            <input type="hidden" id="commenter_id" name="commenter_id" value="<%= userId %>">
            <input type="hidden" id="listing_id" name="listing_id" value="<%= listing.id %>">
            <textarea id="body" name="body" rows="3" cols="42" placeholder="Enter your comment here"></textarea><br>
            <button class="combut" name="Add Comment">Add Comment</button>
          </fieldset>
        </form>
      </article>
  <% } %>
    </section>



    <div id="dialog-confirm"></div>
    <div id="photo-modal">
    </div>
</div>
