<h2>Edit Your Adoption Listing</h2>
<br>
<form action="<%= listings_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="listing[owner_id]" value="<%= current_user.id %>">
  <input type="hidden" name="listing[species]" value="<%= @listing.species %>">

  <label>Pet's Name
  <input type="text" name="listing[pet_name]" value="<%= @listing.pet_name %>">
  </label><br>

  <label>Breed
  <input type="text" name="listing[breed]" value="<%= @listing.breed %>">
  </label><br>

  <label>Age
  <input type="text" name="listing[age]" value="<%= @listing.age %>">
  </label><br>

  <label>Location
  <input type="text" name="listing[location]" value="<%= @listing.location %>">
  </label><br>

  <label>Body
    <textarea name="listing[body]" rows="8" cols="40"><%= @listing.body %></textarea>
  </label><br>

  <button name="Edit Listing">Edit Listing</button>

</form>
